#indexTop{
	background-color: red;
	height: 400px;
	width: 100%;
	background-image: url('http://eskipaper.com/images/caribbean-wallpaper-1.jpg');
	background-repeat: no-repeat;
	background-position: center;
}
